@charset "utf-8";

$active-color: #e50053;
$font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$code-font-family: Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;
$border-color: #ccc;

$title-color: #444;
$content-color: #222;
$secondary-color: #555;
$gray-background-color: #f7f7f7;
$body-background-color: #fff;

$content-font-size: .14rem;